*{
    box-sizing: border-box;
    /* Makes spacing calculations much easier */
    margin: 0;
    padding: 0;
}

:root {
    --color-bg: #fbf9f4;
    --color-surface: #161b22;
    --color-border: #106128;
    --color-primary: #c57315;
    --color-text: #333333;
    --color-muted: white;
    --font-main: 'Segoe UI', system-ui, sans-serif;
    --max-width: 800px;
}

html { scroll-behavior: smooth; }

body {
    background-color: #fbf9f4;
    color: #333333;
    font-family: var(--font-main);
    font-size: 16px;
    line-height: 1.6;
    padding: 20px;
}

a {
    color: var(--color-primary);
    text-decoration: none;
    transition: opacity 0.2s;
}
a:hover { opacity: 0.75;}

img { max-width: 100%; height: auto; }

/* LAYOUT CONTAINER */
.content-container {
    width: 100%;
    max-width: var(--max-width);
    margin: 0 auto;
    padding: 0 24px;
}

/* HEADER & NAV */
.portfolio-header {
    padding: 40px 20px;
    text-align: center;
    border-bottom: 1px solid var(--color-border);
    background-color: #d4a37e;
    color: white;
    border-radius: 12px;
    margin: 0 auto 30px auto;
    max-width: 800px;
    box-shadow: 0 4px 10px rgba(0,0,0,0.05);
}

.subtitle {
    font-size: 1.1rem;
    margin-top: 5px;
    opacity: 0.9;
}

.nav-menu  {
    display: flex;
    justify-content: center;
    gap: 20px;
    margin-top: 20px;
    flex-wrap: wrap;
}

.nav-menu a {
    color: white;
    text-decoration: none;
    font-weight: 600;
    padding: 6px 14px;
    border: 1.5px solid white;
    border-radius: 20px;
    font-size: 0.9rem;
    letter-spacing: 1px;
    text-transform: uppercase;
    transition: all 0.3s ease;
}
.nav-menu a:hover { color: #d4a373; background-color: white; }

.profile-card {
    background: white;
    padding: 30px;
    margin-bottom: 25px;
    border-radius: 12px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.03);
    border: 1px solid #f0ede6;
}
.profile-card h2 {
    color: #d4a373;
    margin-bottom: 15px;
    font-size: 1.5rem;
    border-bottom: 2px solid #fbf9f4;
    padding-bottom: 5px;
}

/* SKILLS LIST */
.skills-list {
    list-style-position: inside;
    padding-left: 5px;
}

.skills-list li {
    margin-bottom: 8px;
    border: 1px solid var(--color-border);
    padding: 8px 16px;
    border-radius: 20px;
    font-size: 0.9rem;
    transition: border-color 0.2s;
}
#skills li:hover { border-color: var(--color-primary);}

/* PROJECT CARDS */
.projects-item h3 {
    margin-bottom: 8px;
    color: #444444;
}


/* FOOTER */
footer {
    text-align: center;
    padding: 30px 20px;
    color: #888888;
    font-size: 0.9rem;
}